.menu{
	position:fixed;
	margin-top:-8px;
	margin-left:-8px;
	width:99.5%;
	height:80px;
	background:rgb(206, 147, 67,0.3);
	line-height:0px;
	text-align:center;
	padding:0%;
	float:center;
	z-index:100;
	border:3px solid white;
	border-radius:60px 60px;
	}
.menu p{
	font-family:Brush Script Std;
	font-size:40px;
	color:white;
}
.menu ul{
	color:white;
	list-style:none;
	padding:0;
	margin:0;
}
	.menu ul ul{
	list-style:none;
	display:none;
	position:absolute;
	margin-top:40px;
	width:150px;
	
	}
.menu ul li ul li a{
	width:150px;
	background:#778191;
	color:#e8ecf2;
	text-align:center;
	}
.menu ul ul li a{
	display:block;
	margin:center;
	padding-right:44px;
	padding-left:44px;
	text-align:right;
	float:center;
}
.menu ul li{
	float:left;
}
	
.menu ul li a{
	float:right;
	padding-right:130px;
	padding-left:50px;
	text-align:center;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	border-left:5px #4d4e4f double;
	}
.menu ul li a img{
	float:left;
	width:150px;
	height:80px;
	margin-left:90%;
	margin-top:-80px;
	
}
.menu ul li a img:hover{
	border:Dotted white 5px;
	border-radius:40px 0px 40px 0px;
	height:60px;
	margin-top:-73px;
	transition: 0.2s;
	
}
.menu ul li:hover ul{
	display:block;
	position:absolute;
	animation:turun 1s;
	}

.intro {
    height:103%;
	width:101.34%;
	margin:-10px;
    background: url("ukl/8.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
	position:fixed;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
	margin-left:33%;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway' sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px;
    font-size: 500%;
}
.btn {
    border-radius:40px 40px 40px 40px;
    font-family: Hobo Std;
    color: white;
    font-size: 155%;
    padding: 30px 50px;
    border: solid white 3px;
    text-transform: uppercase;
    text-decoration: none;
	background:rgba(139,205,225,0.4);
	margin-left:5px;
}
.btn:hover {
    border: solid #657da8 4px;
	color:#5a9ec5;
    transition: 0.1s;
	background:#f1f1f1;
}

.header_login{
	width:270px;
	border-radius:10px 10px 0px 0px;
	background:rgb(108, 152, 221, 0.5);
	color:white;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:20%;
	margin-left:41.7%;
	font-weight:bolder;
	font-size:20px;
	border-bottom:4px solid black;
	animation:animation 1s;
}
.header_login1{
	width:300px;
	border-radius:10px 10px 0px 0px;
	background:rgba(114,114,90,0.5);
	color:white;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:9%;
	margin-left:41.7%;
	font-weight:bolder;
	font-size:20px;
	border-bottom:4px solid black;
	animation:animation 1s;
}
.header_login2{
	width:300px;
	border-radius:10px 10px 0px 0px;
	background:rgba(114,114,90);
	color:white;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:18.5%;
	margin-left:41.7%;
	font-weight:bolder;
	font-size:20px;
	border-bottom:4px solid black;
	animation:animation 1s;
}
.body_login{
	width:270px;
	margin:auto;
	margin-left:41.7%;
	padding:10px;
	background:rgba(139,205,225,0.4);
	animation:animation 1s;
}
.body_login table tr td input{
	width:100%;
	margin-left:10px;
	height:30px;
}
.body_login table tr td input:focus{
	border:solid #898f99 3px;
	border-radius:3px 3px 3px 3px;
	width:150%;
	transition:1s;
}
.body_login input{
	width:80%;
	margin-left:0px;
	height:30px;
}
.body_login1{
	width:300px;
	margin:auto;
	margin-left:41.7%;
	padding:10px;
	background:rgb(206, 147, 67);
	animation:animation 1s;
}
.body_login2{
	width:300px;
	margin:auto;
	margin-left:41.7%;
	padding:10px;
	background:rgba(139,205,225,0.4);
	animation:animation 1s;
}
.body_login2 table tr td input{
	width:100%;
	margin-left:10px;
	height:30px;
}
.body_login2 table tr td input:focus{
	border:solid #898f99 3px;
	border-radius:3px 3px 3px 3px;
	width:170%;
	transition:1s;
}
.body_login2 input{
	width:80%;
	margin-left:0px;
	height:30px;
}
.footer_login{
	width:270px;
	height:10px;
	padding:10px;
	border-radius:0 0 10px 10px;
	margin:auto;
	margin-left:41.7%;
	background:rgb(108, 152, 221, 0.5);
	text-align:center;
	color:white;
	animation:animation 1s;
}
.footer_login1{
	width:300px;
	height:10px;
	padding:10px;
	border-radius:0 0 10px 10px;
	margin:auto;
	margin-left:41.7%;
	background:rgba(114,114,90,0.5);
	text-align:center;
	color:white;
	animation:animation 1s;
}
.footer_login2{
	width:300px;
	height:10px;
	padding:10px;
	border-radius:0 0 10px 10px;
	margin:auto;
	margin-left:41.7%;
	background:rgba(114,114,90);
	text-align:center;
	color:white;
	animation:animation 1s;
}
.footer_login a:hover{
	color:grey;
	background:white;
	padding:10px;
}
.frame_popup{
	width:100%;
	height:110%;
	position:fixed;
	display:none;
	overflow:auto;
	background:rgba(114,114,90,0.3);
	background-attachment:fixed;
	margin-left:-34%;
	margin-top:-25%;
	animation:animation 0s;
}
.judul_popup{
	width:100%;
	margin:auto;
	height:50px;
	background:#33373d;
	text-align:center ;
	line-height:30px;
	border-radius:10px;
	font-size:50px;
	font-weight:bolder;
}
.text_popup{
	margin-top:20px;
	width:100%;
	font-size:20px;
}
@keyframes animation{
	from{center:300px; opacity:0}
	to{center:70px; opacity:1}
}
.footer{
	margin:0 auto;
	margin-left:-9px;
	margin-top:552px;
	width:100%;
	height:90px;
	background:rgb(206, 147, 67,0.3);
	position:fixed;
	z-index:100;
	border-radius:90px 90px 90px 90px;
	border:solid white 3px;
}	
.footer_text{
	width:70%;
	height:70px;
	margin:4 auto;
	line-height:10px;
	font-size:20px;
	COLOR:WHITE;
	padding-top:20px;
	text-align:center;
	float:center;
}