body{
	padding:0px;
	margin:0px;
	background-image:url("gambar/lam.jpg")
}
.gambar img{
	width:1349px;
	height:600px;
	padding-top:0px;
	margin-top:0px;
	border-bottom:3px transparent solid;
}
.menu{
	position:fixed;
	margin:0 auto;
	width:99.5%;
	height:70px;
	line-height:50px;
	
	background:rgb(206, 147, 67,0.3);
	text-align:center;
	padding-top:20px;
	float:center;
	z-index:100;
	border-radius:90px 0px 0px 90px;
	border:solid white 3px;
	}
.menu ul{
	color:white;
	list-style:none;
	padding:0;
	margin:0;
}
	.menu ul ul{
	list-style:none;
	display:none;
	position:absolute;
	margin-top:40px;
	width:150px;
	
	}
.menu ul li ul li a{
	width:150px;
	background:#778191;
	color:#e8ecf2;
	text-align:center;
	}
.menu ul ul li a{
	display:block;
	margin:center;
	padding-right:44px;
	padding-left:44px;
	text-align:right;
	float:center;
}
.menu ul li{
	float:left;
}
	
.menu ul li a{
	float:right;
	padding-right:130px;
	padding-left:50px;
	text-align:center;
	margin-left:10px;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	border-left:5px #4d4e4f double;
	}
.menu ul li a:hover{
	border:3px white solid;	
}
.menu ul li img{
	float:right;
	width:150px;
	height:90px;
	padding-left:75.6%;
	margin-top:-20px;
	
}
	
.menu ul li:hover ul{
	display:block;
	position:absolute;
	animation:turun 1s;
	}
@keyframes turun{
	0%{opacity:0;margin-top:0px;}
	100%{opacity:1;margin-top:40px;}
}
.intro {
    height:103%;
	width:101.34%;
	margin:-10px;
    background: url("ukl/13.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
	position:fixed;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
	margin-top:-70px;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway' sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px;
    font-size: 500%;
}
.footer{
	margin:0 auto;
	margin-left:-2px;
	margin-top:559px;
	width:100%;
	height:90px;
	background:rgb(206, 147, 67,0.3);
	position:fixed;
	z-index:100;
	border-radius:90px 90px 90px 90px;
	border:solid white 3px;
}	
.footer_text{
	width:70%;
	height:70px;
	margin:4 auto;
	line-height:10px;
	font-size:20px;
	COLOR:WHITE;
	padding-top:20px;
	text-align:center;
	float:center;
}
.b{
	background:rgb(206, 147, 67,0.8);
	width:500px;
	height:auto;
	margin-left:32%;
	margin-right:-38%;
	margin-top:20%;
	opacity:0.7%;
	color:white;
	animation:animation 1s;
}
.b table{
	color:black;
}
.n{
	background:rgb(206, 147, 67,0.8);
	width:auto;
	height:auto;
	margin-left:-52%;
	margin-right:-38%;
	margin-top:-20%;
	opacity:0.7%;
	color:white;
}
.frame_popup{
	width:105%;
	height:130%;
	position:fixed;
	display:auto;
	overflow:auto;
	background:rgba(114,114,90,0.3);
	background-attachment:fixed;
	margin-left:-32%;
	margin-top:-30%;
	animation:animation 1s;
}
.judul_popup{
	width:100%;
	margin:auto;
	height:50px;
	background:#33373d;
	text-align:center ;
	line-height:30px;
	border-radius:10px;
	font-size:50px;
	font-weight:bolder;
	animation:animation 1s;
}
.text_popup{
	margin-top:20px;
	width:100%;
	font-size:20px;
}
@keyframes animation{
	from{width:1000px; opacity:0}
	to{center:100px; opacity:1}
}
