body{
	padding:0px;
	margin:0px;
	background-image:url("gambar/lam.jpg")
}
.gambar img{
	width:1349px;
	height:600px;
	padding-top:0px;
	margin-top:0px;
	border-bottom:3px transparent solid;
}
.menu{
	position:fixed;
	margin:0 auto;
	width:99.5%;
	height:70px;
	line-height:50px;
	background:#8bcddd;
	text-align:center;
	padding-top:20px;
	float:center;
	z-index:100;
	border-radius:90px 0px 0px 90px;
	border:solid white 3px;
	}
.menu ul{
	color:white;
	list-style:none;
	padding:0;
	margin:0;
}
	.menu ul ul{
	list-style:none;
	display:none;
	position:absolute;
	margin-top:40px;
	width:150px;
	
	}

.menu ul li{
	float:left;
}
	
.menu ul li a{
	float:left;
	padding-right:130px;
	padding-left:50px;
	text-align:right;
	margin-left:10px;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	border-left:5px #4d4e4f double;
	}
.menu ul li a:hover{
	border:3px white solid;
}
.menu ul li img{
	float:left;
	width:150px;
	height:90px;
	padding-left:50%;
	margin-top:-20px
}
@keyframes turun{
	0%{opacity:0;margin-top:0px;}
	100%{opacity:1;margin-top:40px;}
}
.intro {
    height:103%;
	width:101.34%;
	margin:-10px;
    background: url("ukl/7.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
	position:fixed;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway' sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px;
    font-size: 500%;
	margin-left:-3%;
	margin-top:25%;
}
.content p{
	max-width: 500px;
    margin: 0 auto;
	margin-top:-30px;
	margin-left:31%;
    text-align: center;
	background:rgba(139,205,221,0.4);
}
.footer{
	margin:0 auto;
	margin-left:6px;
	margin-top:17%;
	width:100%;
	height:90px;
	background:#8bcddd;
	position:fixed;
	z-index:100;
	border-radius:90px 90px 90px 90px;
	border:solid white 3px;
}	
.footer_text{
	width:70%;
	height:70px;
	margin:4 auto;
	line-height:10px;
	font-size:20px;
	COLOR:WHITE;
	padding-top:20px;
	text-align:center;
	float:center;
}
.frame_popup{
	width:110%;
	height:120%;
	position:fixed;
	display:auto;
	overflow:auto;
	background:rgba(114,114,90,0.3);
	background-attachment:fixed;
	margin-left:-32%;
	margin-top:-33%;
	animation:animation 1s;
}	
.judul_popup{
	width:100%;
	margin:auto;
	height:50px;
	background:#33373d;
	text-align:center ;
	line-height:30px;
	border-radius:10px;
	font-size:50px;
	font-weight:bolder;
}
.text_popup{
	margin-top:20px;
	width:100%;
	font-size:20px;
}
@keyframes animation{
	from{width:20px; opacity:0}
	to{center:70px; opacity:1}
}